.produtos-th-moda{
    color: white;
    background-color: #BB86FC;
}

.produtos-td-moda{
    color: white;
    background-color: #424250;
}

.produtos-th-casa{
    color: white;
    background-color: #00C4B4;
}

.produtos-td-casa{
    color: white;
    background-color: #424250;
}